table, th, td{
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
    padding: 5px;


}
table{
    width: 100%;
}
th{
    background-color: darkblue;
    color: white;
}
tr:nth-child(even){
    background-color: rgba(0, 128, 0, 0.52);
}
tr:nth-child(odd){
    background-color: rgba(126, 173, 126, 0.52);
}
td:hover{
    background-color: rgba(70, 131, 180, 0.733);
    color: white;
}